{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Malloc</title>
    
    <meta name="description" content="Material design landing page template built by TemplateFlip.com"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'pages/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'pages/styles/main.css' %}" rel="stylesheet">
  
            
  </head>
</head>
  <!-- Start Page Loading -->
<body id="top">
                {% block content %} {% endblock %}
                <script type="text/javascript" src="{% static 'pages/js/jquery-3.2.1.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'pages/js/popper.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'pages/js/bootstrap.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'pages/js/mdb.min.js' %}"></script>
                <script>
                  document.addEventListener('DOMContentLoaded', function() {
                  var elems = document.querySelectorAll('.parallax');
                  var instances = M.Parallax.init(elems, options);
                });
              </script>
                <script>new WOW().init();</script>
    
</body>
</html>